input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.user-signup {
  max-height: 100vh;
  overflow-y: auto;
}

/* .modal .modal-header {
  padding: 9px 9px !important;
} */

:root {
    --bs-sidebar-item-hover: transparent; 
    --bs-sidebar-item-active: transparent;
}